<!doctype html>
<html>
    <head>
    <title>Our Funky HTML Page</title>
    <!-- <a href=https://en2mwj3aze.execute-api.us-east-2.amazonaws.com/getMetadata
    >Get Metadata</a> -->
        <meta name="keywords" content="html tutorial template">
    </head>
    <body>
        <button onclick="getSensorsBySession('Session1')">Session1</button>
        <button onclick="getSensorsBySession('Session2')">Session2</button>
        <button onclick="getMetadata()">Get Metadata</button>
    </body>
    <p id="myPelement"></p>
</html>
 
</script>
<script src="../scripts/fetchRequests.js">
</script>